/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
 * The stage is 1080 * 720
 */
 
/*team list */
#vbox-names{
	-fx-alignment: center;
}
 
 /*left vbox in the left of borderpane contains load and list of names*/
#vbox-left{
 	-fx-max-width: 135.0;
 	-fx-alignment: top-center;
 	-fx-background-color: #dadfe1;
 }
 
 /*load button at top of left vbox*/
 #load-button{
 	-fx-max-width: 100.0;
 	-fx-max-height: 60.0;
 	-fx-padding: 0.0, 0.0, 0.0, 15.0;
 	-fx-text-fill: #c5050c;
 	-fx-font-family: 'Bowlby One SC', cursive, sans-serif;
 	-fx-background-color: #e2a1a1;
 	-fx-border-color: #9b0000;
 	-fx-border-radius: 3.0;
 	-fx-border-width: 1.5;
 }
 
 /* names loaded at left vbox*/
 .label-names{
 	-fx-padding: 2.5, 0.0, 2.5, 0.0;
 	-fx-max-height: 45.0;
 	-fx-max-width: 120.0;
 	-fx-font-weight: bold;
 	-fx-font-family: 'Ubuntu', sans-serif;
 	-fx-font-size: 11.0;
 }
 
/* hbox in the center of borderpane contains several vboxes*/
#root{
	-fx-background-image: url("../../src/application/logo.png");
	-fx-background-repeat:no-repeat;
    -fx-background-position:center;
	-fx-max-width: 945.0; /*which is = 5*7*9*3 */
}

/*label head */
#label-head{
	-fx-padding:5.0, 0.0, 0.0, 0.0;
	-fx-font-weight: bold;
	-fx-font-family: 'Black Han Sans', sans-serif;
	-fx-text-fill: #c5050c;
}

/*-fx-border-radius: 5; */


/*vboxName.getStyleClass().add("vbox"); number of vBox = log2(NumberOfTeam)*2-1 */
/*width of vbox = 945/??? */
/*center hboxes in every vbox */
#vbox-big{
	-fx-alignment: center;
	-fx-background-color: transparent;
}

/*blank vbox */
.vbox-blank{
	-fx-pref-width: 100.0%;
	-fx-pref-height: 12.0;
}

/*another blank vbox */
.vbox-blank1{
	-fx-max-height: 2.0;
	-fx-pref-width: 100.0%;
	-fx-background-color: transparent;
	-fx-padding: -6.0, 0.0, -6.0, 0.0;
}

/* small vbox in large vbox*/
.game{
	-fx-max-height: 80.0;
	-fx-padding: 7.5, 1.5, 7.5, 1.5;
	-fx-border-style: solid;
	-fx-alignment: center;
	-fx-border-radius: 5.0;
	-fx-background-color:rgba(218.0,223.0,225.0,0.75);
	-fx-background-radius:5.0;
}

/*hbox for each team */
.team{
	-fx-alignment: center;
	-fx-max-height: 18.0;
}

.team-only{
	-fx-font-weight: bold;
 	-fx-font-family: 'Ubuntu', sans-serif;
 	-fx-font-size: 36.0;
	-fx-border-style: solid;
	-fx-alignment: center;
	-fx-border-radius: 5.0;
	-fx-background-color:rgba(218.0,223.0,225.0,0.75);
	-fx-background-radius:5.0;
	-fx-pref-width: 180.0;
	-fx-pref-height: 120.0;
}

.button-submit{
 	-fx-alignment: center;
 	-fx-max-height: 18.0;
 	-fx-padding: 0.0, 0.0, 0.0, 15.0;
 	-fx-text-fill: #c5050c;
 	-fx-font-family: 'Bowlby One SC', cursive, sans-serif;
 	-fx-background-color: #e2a1a1;
 	-fx-border-color: #9b0000;
 	-fx-border-radius: 3.0;
 	-fx-border-width: 1.5;
 	
}

.button-submit:hover{
 	-fx-text-fill: #f7f7f7;
}

.button-submitted{
 	-fx-alignment: center;
 	-fx-max-height: 18.0;
 	-fx-padding: 0.0, 0.0, 0.0, 15.0;
 	-fx-text-fill: #c5050c;
 	-fx-font-family: 'Bowlby One SC', cursive, sans-serif;
 	-fx-background-color: #e2a1a1;
 	-fx-border-color: #9b0000;
 	-fx-border-radius: 3.0;
 	-fx-border-width: 1.5;
 	
}
.button-submitted{
	-fx-text-fill: #c5050c;
}

.score-label{
	-fx-border-style: solid;
	-fx-max-height: 18.0;
}
